<div id="app">
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top d-flex align-items-center header-transparent">
		<div class="container d-flex align-items-center">
			
			<!-- <h1 class="logo me-auto"><a href="index.html">Jarvis PO</a></h1> -->
			<!-- Uncomment below if you prefer to use an image logo -->
			<a href="index.html" class="logo me-auto"><img src="assets/logo/Logo_EFS.svg.png" alt="" class="img-fluid"></a>
			
			<nav id="navbar" class="navbar order-last order-lg-0">
				<ul>
					<li><a class="nav-link scrollto active target" href="#missions">Donner</a></li>
					<li><a class="nav-link scrollto" href="#process">Informations utiles</a></li>
					<li><a class="nav-link scrollto" href="#faq">Contact</a></li>
					<li class="dropdown"><a href="#"><i class="material-icons">account_circle</i><span>Yann BOURGUES</span> <i class="bi bi-chevron-down"></i></a>
						<ul>
							<li><a href="#"><i class="bi bi-person"></i> Profile</a></li>
							<li><a href="#"><i class="bi bi-calendar"></i> Calendar</a></li>
							<li><a href="#"><i class="bi bi-sliders"></i> Settings</a></li>
							<li><a href="#"><i class="material-icons">&#xE8AC;</i> Logout</a></li>
						</ul>
					</li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav><!-- .navbar -->
			
			<div class="social-links">
				<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
				<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
				<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
				<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
				<a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
			</div>
			
		</div>
	</header><!-- End Header -->
	
	<div class="container">
		<!-- ======= Hero Section ======= -->
		<section id="hero" class="clearfix">
			<div class="container d-flex h-100">
				<div class="row justify-content-center align-self-center" data-aos="fade-up">
					<div class="col-lg-12 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
						<h2>Vous voulez faire un <span>Don ?</span></h2>
						<div>
							<a href="#missions" class="btn-get-started scrollto">Plannifier le Don</a>
						</div>
					</div>
					
					<!-- <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200"> -->
					<!-- <img src="assets/img/intro-img.svg" alt="" class="img-fluid"> -->
					<!-- </div> -->
				</div>
				
			</div>
		</section><!-- End Hero -->
		
		<main id="main">
			
			<!-- ======= Services Section ======= -->
			<section id="missions" class="missions">
				<div class="container" data-aos="fade-up">
					
					<header class="section-header">
						<h3>Nouveau/Habitué</h3>
						<p>Choisissez le parcours qui vous convient le mieux</p>
					</header>
					
					<div class="row">
						
						<div class="col-md-6 col-lg-6 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
							<div class="box">
								<div class="icon" style="background: #fceef3;"><i class="fas fa-baby" style="color: #ff689b;"></i></div>
								<h4 class="title"><a href="">C'est ma première fois / Ca fait longtemps</a></h4>
								<p class="description">3 étapes : Puis je donner ? > Où ? > Je réserve</p>
							</div>
						</div>
						<div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="200">
							<div class="box">
								<div class="icon" style="background: #fff0da;"><i class="fas fa-user-graduate" style="color: #e98e06;"></i></div>
								<h4 class="title"><a href="">Je suis un habitué</a></h4>
								<p class="description">2 étapes : Où ? > Je réserve</p>
							</div>
						</div>
						
					</div>
				</div>
				
			</section><!-- End Services Section -->
		</main>
	</div>
	<!-- ======= Footer ======= -->
	<footer id="footer" class="section-bg">
		
		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong>EFS Don du Sang</strong>. All Rights Reserved
			</div>
			<div class="credits">
				<!--
					All the links in the footer should remain intact.
					You can delete the links only if you purchased the pro version.
					Licensing information: https://bootstrapmade.com/license/
					Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
				-->
			</div>
		</div>
	</footer><!-- End  Footer -->
	
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</div>
