<div id="app">
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top d-flex align-items-center">
		<div class="container d-flex align-items-center">
			
			<!-- <h1 class="logo me-auto"><a href="index.html">Jarvis PO</a></h1> -->
			<!-- Uncomment below if you prefer to use an image logo -->
			<a href="index.html" class="logo me-auto"><img src="assets/logo/Logo_EFS.svg.png" alt="" class="img-fluid"></a>
			
			<nav id="navbar" class="navbar order-last order-lg-0">
				<ul>
					<li><a class="nav-link scrollto active target" href="#missions">Donner</a></li>
					<li><a class="nav-link scrollto" href="#process">Informations utiles</a></li>
					<li><a class="nav-link scrollto" href="#faq">Contact</a></li>
					<li class="dropdown"><a href="#"><i class="material-icons">account_circle</i><span>Yann BOURGUES</span> <i class="bi bi-chevron-down"></i></a>
						<ul>
							<li><a href="#"><i class="bi bi-person"></i> Profile</a></li>
							<li><a href="#"><i class="bi bi-calendar"></i> Calendar</a></li>
							<li><a href="#"><i class="bi bi-sliders"></i> Settings</a></li>
							<li><a href="#"><i class="material-icons">&#xE8AC;</i> Logout</a></li>
						</ul>
					</li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav><!-- .navbar -->
			
			<div class="social-links">
				<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
				<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
				<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
				<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
				<a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
			</div>
			
		</div>
	</header><!-- End Header -->
	
	<div class="container">
		<!-- ======= Hero Section ======= -->
		<section id="hero" class="clearfix">
			<div class="container d-flex h-100">
				<div class="row justify-content-center align-self-center" data-aos="fade-up">
					<div class="col-lg-8 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
						<h2>Faire un don c'est <span>Simple !</span></h2>
						<div>
							<a href="#missions" class="btn-get-started scrollto">Plannifier le Don</a>
						</div>
					</div>
					
					<!-- <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200"> -->
					<!-- <img src="assets/img/main_bg.png" alt="" class="img-fluid"> -->
					<!-- </div> -->
				</div>
				
			</div>
		</section><!-- End Hero -->
		
		<main id="main">
			
			<!-- ======= Services Section ======= -->
			<section id="missions" class="missions">
				<div class="container" data-aos="fade-up">
					
					<header class="section-header">
						<h3>Nouveau/Habitué</h3>
						<p>Choisissez le parcours qui vous convient le mieux</p>
					</header>
					
					<div class="row">
						
						<div class="col-md-6 col-lg-6 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
							<div class="box">
								<div class="icon" style="background: #fceef3;"><i class="fas fa-baby" style="color: #ff689b;"></i></div>
								<h4 class="title"><a href="#process">C'est ma première fois / Ca fait longtemps</a></h4>
								<p class="description">3 étapes : Puis je donner ? > Où ? > Je réserve</p>
							</div>
						</div>
						<div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="200">
							<div class="box">
								<div class="icon" style="background: #fff0da;"><i class="fas fa-user-graduate" style="color: #e98e06;"></i></div>
								<h4 class="title"><a href="">Je suis un habitué</a></h4>
								<p class="description">2 étapes : Où ? > Je réserve</p>
							</div>
						</div>
						
					</div>
				</div>
				
			</section>
			<!-- End Services Section -->
			
			<!-- ======= Process Section ======= -->
			<section id="process" class="missions section-bg">
				<div class="container" data-aos="fade-up">
					
					<header class="section-header">
						<h3>Puis-je donner ?</h3>
						<p>Ce formulaire vous permettra de savoir si vous êtes éligible au don</p>
					</header>
					
					<div class="row">
						
						<div class="col-md-12  col-lg-12 wow bounceInUP mx-0" data-aos="zoom-in" data-aos-delay="100">
							<form id="msform">
								<!-- progressbar -->
								<ul id="progressbar">
									<li class="active" id="infirmiere"><strong>1er critère</strong></li>
									<li id="disease"><strong>Maladies et <br/>infections chroniques</strong></li>
									<li id="life"><strong>Mode de vie</strong></li>
									<li id="surgery"><strong>Examens et <br/>opérations chirurgicales</strong></li>
									<li id="trip"><strong>Voyages et <br/>déplacements</strong></li>
									<li id="lastVerif"><strong>Dernières <br/>vérifications</strong></li>
								</ul> <!-- fieldsets -->
								<fieldset>
									<div class="form-card">
										<form class="form">
											<h2 class="fs-title">1er critère</h2> 
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<!-- Default large shadow-->
													<div class="card shadow-lg mt-5">
														<div class="card-body p-5">
															<h2 class="h5">Votre sexe ?</h2>
															<p class="font-italic text-muted"></p>
															<div class="row">															
																<div class="inputGroup col-lg-6">
																	<input id="option1" name="option1" type="radio" />
																	<label for="option1" class="btn-choice"><i class="fas fa-female fa-3x mr-2"></i> Femme</label>
																</div>
																<div class="inputGroup col-lg-6">
																	<input id="option2" name="option1" type="radio"/>
																	<label for="option2" class="btn-choice"><i class="fas fa-male fa-3x mr-2"></i> Homme</label>
																</div>
															</div>
														</div>
													</div>
													
													<div class="card shadow-lg mt-5">
														<div class="card-body p-5">
															<h2 class="h5">Votre âge ?</h2>
															<p class="font-italic text-muted"></p>
															<div class="row">
																<div class="inputGroup col-lg-4">
																	<input id="option3" name="option2" type="radio"/>
																	<label for="option3" class="btn-choice-without-icons">- 18 ans</label>
																</div>
																<div class="inputGroup col-lg-4">
																	<input id="option4" name="option2" type="radio"/>
																	<label for="option4" class="btn-choice-without-icons">18 à 70 ans</label>
																</div>
																<div class="inputGroup col-lg-4">
																	<input id="option5" name="option2" type="radio"/>
																	<label for="option5" class="btn-choice-without-icons">+ 70 ans</label>
																</div>
																
															</div>
														</div>
													</div>
													
													<div class="card shadow-lg mt-5">
														<div class="card-body p-5">
															<h2 class="h5">Votre poids ?</h2>
															<p class="font-italic text-muted"></p>
															<div class="row">
																<div class="inputGroup col-lg-4">
																	<input id="option6" name="option3" type="radio"/>
																	<label for="option6" class="btn-choice-without-icons">- 50kg</label>
																</div>
																<div class="inputGroup col-lg-4">
																	<input id="option7" name="option3" type="radio"/>
																	<label for="option7" class="btn-choice-without-icons">50kg à 55kg</label>
																</div>
																<div class="inputGroup col-lg-4">
																	<input id="option8" name="option3" type="radio"/>
																	<label for="option8" class="btn-choice-without-icons">+ 55kg</label>
																</div>
															</div>
														</div>
													</div>
													
													<div class="card shadow-lg mt-5">
														<div class="card-body p-5">
															<h2 class="h5">Votre dernier don date de moins de 8 semaines (sang) ou 4 semaines (plaquettes) ou 2 semaines (plasma) ?</h2>
															<p class="font-italic text-muted"></p>
															<div class="row">
																<div class="inputGroup col-lg-6">
																	<input id="option9" name="option4" type="radio"/>
																	<label for="option9" class="btn-choice-without-icons">OUI</label>
																</div>
																<div class="inputGroup col-lg-6">
																	<input id="option10" name="option4" type="radio"/>
																	<label for="option10" class="btn-choice-without-icons">NON</label>
																</div>
															</div>
														</div>
													</div>
												</div>	
											</div>
										</form>
									</div> 
									<input type="button" name="next" class="next action-button btn-get-started" value="Next Step" />
								</fieldset>
								<fieldset>
									<div class="form-card">
										<h2 class="fs-title">Maladies et infections chroniques</h2>
										<div class="row">
											<div class="col-lg-12 col-md-12">
											</div>
										</div>
									</div> 
									<input type="button" name="previous" class="previous action-button-previous " value="Previous" /> 
									<input type="button" name="next" class="next action-button" value="Next Step" />
								</fieldset>
								<fieldset>
									<div class="form-card">
										<h2 class="fs-title">Mode de vie</h2>
										<div class="row">
											<div class="col-lg-12 col-md-12">
											</div>
										</div>
									</div> 
									<input type="button" name="previous" class="previous action-button-previous " value="Previous" /> 
									<input type="button" name="next" class="next action-button" value="Next Step" />
								</fieldset>
								<fieldset>
									<div class="form-card">
										<h2 class="fs-title">Examens et opérations chirurgicales</h2>
										<div class="row">
											<div class="col-lg-12 col-md-12">
											</div>
										</div>
									</div> 
									<input type="button" name="previous" class="previous action-button-previous " value="Previous" /> 
									<input type="button" name="next" class="next action-button" value="Next Step" />
								</fieldset>
								<fieldset>
									<div class="form-card">
										<h2 class="fs-title">Voyages et déplacements</h2>
										<div class="row">
											<div class="col-lg-12 col-md-12">
											</div>
										</div>
									</div> 
									<input type="button" name="previous" class="previous action-button-previous " value="Previous" /> 
									<input type="button" name="next" class="next action-button" value="Next Step" />
								</fieldset>
								<fieldset>
									<div class="form-card">
										<h2 class="fs-title">Dernières vérifications</h2>
										<div class="row">
											<div class="col-lg-12 col-md-12">
											</div>
										</div>
									</div> 
									<input type="button" name="previous" class="previous action-button-previous " value="Previous" /> 
									<input type="button" name="next" class="next action-button" value="Next Step" />
								</fieldset>
								<fieldset>
									<div class="form-card">
										<h2 class="fs-title text-center">Super !</h2> <br><br>
										<div class="row justify-content-center">
											<div class="col-lg-2"><i class="fas fa-check fa-8x"></i></div>
										</div> <br><br>
										<div class="row justify-content-center">
											<div class="col-7 text-center">
												<h5>Vous pouvez maintenant trouver un centre de don !</h5>
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
						
					</div>
				</div>
				
			</section><!-- End Process Section -->
			
		</main>
	</div>
	<!-- ======= Footer ======= -->
	<footer id="footer" class="section-bg">
		
		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong>EFS Don du Sang</strong>. All Rights Reserved
			</div>
			<div class="credits">
				<!--
					All the links in the footer should remain intact.
					You can delete the links only if you purchased the pro version.
					Licensing information: https://bootstrapmade.com/license/
					Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
				-->
			</div>
		</div>
	</footer><!-- End  Footer -->
	
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</div>
