body {
	background: #fff;
	color: #444;
	font-family: "Open Sans", sans-serif;
}

a {
	color: #1bb1dc;
	text-decoration: none;
	transition: 0.5s;
}

a:hover, a:active, a:focus {
	color: #0a98c0;
	outline: none;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
}

.btn-get-started {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: #1bb1dc;
	color: #fff;
}

.btn-get-started:hover {
	background: #0a98c0;
}

/*--------------------------------------------------------------
	# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #1bb1dc;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #39c0e7;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
	# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}


/*--------------------------------------------------------------
	# Header
--------------------------------------------------------------*/
#header {
	background: #fff;
	transition: all 0.5s;
	z-index: 997;
	height: 90px;
	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

#header.header-transparent {
	background: transparent;
}

#header.header-scrolled {
	background: #fff;
	height: 70px;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header .logo {
	font-size: 10px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#header .logo a {
	color: #413e66;
}

#header .logo img {
	max-height: 60px;
}

#header .social-links {
	margin: 0 0 0 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#header .social-links a {
	color: #555186;
	transition: 0.3s;
	line-height: 0;
	margin-left: 15px;
}

#header .social-links a i {
	line-height: 0;
}

#header .social-links a:hover {
	color: #1bb1dc;
}

@media (max-width: 992px) {
	#header .social-links {
		margin: 0 15px 0 0;
	}
}

@media (max-width: 992px) {
	#header .logo {
		font-size: 28px;
	}
}

/*	**
	Media queri mobile size for header and nav
** */
@media (max-width: 500px) {
	#header {	
		position: fixed;
		top: 79%;
		right: 0;
		left: 0;
		/* border-radius */
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		border-radius: 40px;
		/* box-shadow */
		-webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
		-moz-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
		box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
		margin : 0px 10px 0px 10px;
		/* max-width:380px; */
		background: #fff;
		white-space: normal;
		margin-left:auto;
		margin-right:auto;
	}
	
	#header .social-links {
		display:none;
	}
	
	#header .logo {
		display:none;
	}
}

/*--------------------------------------------------------------
	# Navigation Menu
--------------------------------------------------------------*/
/**
	* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 24px;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #413e66;
	white-space: nowrap;
	transition: 0.3s;
}

/* .navbar .target{ */
	/* color: red; */
	/* font-size:18px; */
	/* font-weight:800; */
/* } */

.navbar a i {
	font-size: 2rem;
	line-height: 0;
	/* margin-left: 5px; */
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
	color: #1bb1dc;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 24px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 160px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	text-transform: none;
	font-weight: 400;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
	color: #1bb1dc;
}

.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}

/*	**
	Media queri mobile size for header and nav
** */
@media (max-width: 500px) {
	
	.navbar{
		margin-left: auto;
		margin-right: auto;
		max-width:380px;
	}
	
	.navbar ul li {
	}
	
	
	.navbar a {
		font-size: 10px;
		font-weight: 600;
		transition: 0.3s;
		white-space: normal;
		transition: 0.3s;
		padding: 0 20px;
		text-align: center;
		display:block;
	}
	
	.navbar a i {
		line-height: 0;
		font-size: 2.5rem; 
	}
	
	.navbar a span {
	}
	
	
}
/**
	* Mobile Navigation 
*/
/*.mobile-nav-toggle {
	color: #413e66;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
	}
	
	.mobile-nav-toggle.bi-x {
	color: #fff;
	}
	
	@media (max-width: 991px) {
	.mobile-nav-toggle {
	display: block;
	}
	.navbar ul {
	display: none;
	}
	}
	
	.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(45, 43, 70, 0.9);
	transition: 0.3s;
	z-index: 999;
	}
	
	.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
	}
	
	.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
	}
	
	.navbar-mobile a {
	padding: 10px 20px;
	font-size: 15px;
	color: #413e66;
	}
	
	.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
	color: #1bb1dc;
	}
	
	.navbar-mobile .getstarted {
	margin: 15px;
	}
	
	.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	}
	
	.navbar-mobile .dropdown ul li {
	min-width: 200px;
	}
	
	.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
	}
	
	.navbar-mobile .dropdown ul a i {
	font-size: 12px;
	}
	
	.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
	color: #1bb1dc;
	}
	
	.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}*/

/*--------------------------------------------------------------
	# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	position: relative;
	background: #f5f8fd url("assets/img/main_bg.png");
	background-position: 95% 50%;
	background-size: 60%;
	background-repeat: no-repeat;
	padding-top: 110px;
}

@media (max-width: 991px) {
	#hero {
		height: auto;
		padding: 100px 0 60px 0;
	}
	#hero .container {
		height: auto !important;
	}
	#hero .intro-img {
		width: 80%;
	}
}

@media (min-width: 992px) {
	#hero .intro-info {
		padding-top: 100px;
	}
}

@media (max-width: 991px) {
	#hero .intro-info {
		text-align: center;
		padding-top: 40px;
	}
}

#hero .intro-info h2 {
	color: #413e66;
	margin-bottom: 40px;
	font-size: 48px;
	font-weight: 700;
}

#hero .intro-info h2 span {
	color: #1bb1dc;
}

@media (max-width: 991px) {
	#hero .intro-info h2 {
		font-size: 34px;
		margin-bottom: 30px;
	}
}

#hero .intro-info .btn-get-started, #hero .intro-info .btn-services {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: #1bb1dc;
	color: #fff;
}

#hero .intro-info .btn-get-started:hover, #hero .intro-info .btn-services:hover {
	background: #0a98c0;
}

/*--------------------------------------------------------------
	# Sections
--------------------------------------------------------------*/
section {
	overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header h3 {
	font-size: 36px;
	color: #413e66;
	text-align: center;
	font-weight: 700;
	position: relative;
	font-family: "Montserrat", sans-serif;
	margin-top:40px;
}

.section-header p {
	text-align: center;
	margin: auto;
	font-size: 15px;
	padding-bottom: 60px;
	color: #535074;
	width: 50%;
}

@media (max-width: 767px) {
	.section-header p {
		width: 100%;
	}
}

/* Section with background
--------------------------------*/
.section-bg {
	background: #f5f8fd;
}

/* Missions Section
--------------------------------*/
#missions {
	padding: 60px 0 40px 0;
}

#missions .box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 0 10px 40px 10px;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
	text-align: center;
}

#missions .box:hover {
	transform: scale(1.1);
}

#missions .icon {
	margin: 0 auto 15px auto;
	padding-top: 35px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

#missions .icon i {
	font-size: 36px;
	line-height: 0;
}

#missions .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

#missions .title a {
	color: #111;
}

#missions .box:hover .title a {
	color: #1bb1dc;
}

#missions .description {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0;
	text-align: left;
}

#missions .btn-get-started {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: #1bb1dc;
	color: #fff;
}

#missions .btn-get-started:hover {
	background: #0a98c0;
}

/*--------------------------------------------------------------
	# Footer
--------------------------------------------------------------*/
#footer {
	padding: 0 0 30px 0;
	font-size: 14px;
	background: #fff;
}

#footer .footer-top {
	padding: 60px 0 30px 0;
	background: #f5f8fd;
}

#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
	font-size: 34px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	color: #413e66;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}

#footer .footer-top .footer-info p {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Montserrat", sans-serif;
	color: #535074;
}

#footer .footer-top .social-links a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #1bb1dc;
	color: #fff;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a i {
	line-height: 0;
	font-size: 16px;
}

#footer .footer-top .social-links a:hover {
	background: #0a98c0;
	color: #fff;
}

@media (max-width: 574px) {
	#footer .footer-top .social-links a {
		margin-bottom: 25px;
	}
}

#footer .footer-top h4 {
	font-size: 14px;
	font-weight: bold;
	color: #413e66;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul li {
	padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
	color: #1bb1dc;
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
	line-height: 26px;
}

#footer .footer-top .footer-newsletter {
	margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
	border: 0;
	padding: 6px 8px;
	width: 65%;
	border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
	background: #1bb1dc;
	border: 1px solid #1bb1dc;
	width: 35%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
	background: #0a98c0;
}

#footer .php-email-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}

#footer .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

#footer .php-email-form .error-message br + br {
	margin-top: 25px;
}

#footer .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

#footer .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

#footer .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

#footer .php-email-form input, #footer .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #dce1ec;
	font-size: 14px;
}

#footer .php-email-form input:focus, #footer .php-email-form textarea:focus {
	border-color: #1bb1dc;
}

#footer .php-email-form input {
	padding: 10px 15px;
}

#footer .php-email-form textarea {
	padding: 12px 15px;
}

#footer .php-email-form button[type="submit"] {
	background: #1bb1dc;
	border: 0;
	border-radius: 3px;
	padding: 8px 30px;
	color: #fff;
	transition: 0.3s;
}

#footer .php-email-form button[type="submit"]:hover {
	background: #0a98c0;
	cursor: pointer;
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#footer .copyright {
	text-align: center;
	padding-top: 30px;
	color: #535074;
	font-size: 15px;
}

#footer .credits {
	text-align: center;
	font-size: 14px;
	padding-top: 4px;
	color: #8582a8;
}

#footer .credits a {
	color: #1bb1dc;
}

#footer .credits a:hover {
	color: #0a98c0;
}

/* ------------------------------------
	
	MULTI STEP FORM	
------------------------------------ */
#msform {
    text-align: center;
    position: relative;
    margin-top: 0px
}

#msform fieldset .form-card {
    border: 0 none;
    border-radius: 0px;
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .btn-choice {
	width:100%;
	height:100px;
	background-color: #f9fafb;
	padding-top: 20px;
}

#msform .btn-choice-without-icons {
	width:100%;
	height:100px;
	background-color: #f9fafb;
	padding-top: 35px;
}

#msform .fa-check {
	color:green;
}

.inputGroup {
	background-color: #fff;
	display: block;
	margin: 10px 0;
	position: relative;
}
.inputGroup label {
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3C454C;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}
.inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: "";
	background-color: #5562eb;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}
.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: "";
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
	color: #fff;
}
.inputGroup input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}
.inputGroup input:checked ~ label:after {
	background-color: #54E0C7;
	border-color: #54E0C7;
}
.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
} 

#msform .action-button {
    width: auto;
    font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	margin: 10px 5px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: #1bb1dc;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background: #0a98c0;
}

#msform .action-button-previous {
    width: auto;
    font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	margin: 10px 5px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	background: #A3A9B4;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background: #737984;
}

select.list-dt {
border: none;
outline: 0;
border-bottom: 1px solid #ccc;
padding: 2px 5px 3px 5px;
margin: 2px
}

select.list-dt:focus {
border-bottom: 2px solid skyblue
}

.card {
z-index: 0;
border: none;
border-radius: 0.5rem;
position: relative
}

.fs-title {
font-size: 25px;
color: #2C3E50;
margin-bottom: 10px;
font-weight: bold;
text-align: left
}

#progressbar {
margin-bottom: 30px;
overflow: hidden;
color: lightgrey
}

#progressbar .active {
color: #000000
}

#progressbar li {
list-style-type: none;
font-size: 12px;
width: 16%;
float: left;
position: relative
}

#progressbar #infirmiere:before {
font-family: FontAwesome;
content: "\f82f"
}

#progressbar #disease:before {
font-family: FontAwesome;
content: "\f7fa"
}

#progressbar #life:before {
font-family: FontAwesome;
content: "\f004"
}

#progressbar #surgery:before {
font-family: FontAwesome;
content: "\f0f0"
}

#progressbar #trip:before {
font-family: FontAwesome;
content: "\f5c1"
}

#progressbar #lastVerif:before {
font-family: FontAwesome;
content: "\f091"
}

#progressbar li:before {
width: 50px;
height: 50px;
line-height: 45px;
display: block;
font-size: 18px;
color: #ffffff;
background: lightgray;
border-radius: 50%;
margin: 0 auto 10px auto;
padding: 2px
}

#progressbar li:after {
content: '';
width: 100%;
height: 2px;
background: lightgray;
position: absolute;
left: 0;
top: 25px;
z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
background: skyblue
}

.radio-group {
position: relative;
margin-bottom: 25px
}

.radio {
display: inline-block;
width: 204;
height: 104;
border-radius: 0;
background: lightblue;
box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
box-sizing: border-box;
cursor: pointer;
margin: 8px 2px
}

.radio:hover {
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
width: 100%;
object-fit: cover
}			